@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@200;400;900&display=swap");

$clr-body: white;
$clr-toolbar: rgb(255, 186, 146);
$clr-container: darken($clr-toolbar, 10%);
$clr-paragraph: rgb(85, 85, 85);
$ff-primary: Roboto, "sans-serif";
