@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@700&family=Roboto:wght@400;900&display=swap");

$clr-body: white;
$clr-toolbar: rgb(196, 196, 196);
$clr-container: darken($clr-toolbar, 10%);
$clr-paragraph: rgb(85, 85, 85);
$ff-primary: Roboto, "sans-serif";
$ff-secondary: "Fira Code", serif;
