@use "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: variables.$ff-primary;
}

h1 {
  font-weight: 900;
}

p,
code {
  line-height: 1.5;
}

a {
  text-decoration: none;
}

textarea,
pre {
  padding: 1em;

  border: none;
}

body {
  // display: flex;
  justify-content: center;
  // min-height: 100vh;
  background-color: variables.$clr-body;

  #app {
    .title {
      margin-top: 50px;

      color: #ffffff;
      font: 3rem variables.$ff-secondary;
      text-shadow: 2px 2px 0 #5c5c5c, 2px -2px 0 #5c5c5c, -2px 2px 0 #5c5c5c,
        -2px -2px 0 #5c5c5c, 2px 0px 0 #5c5c5c, 0px 2px 0 #5c5c5c,
        -2px 0px 0 #5c5c5c, 0px -2px 0 #5c5c5c, 6px 6px 10px #7a7a7a;
      text-align: center;
    }

    .editor-preview-container {
      display: flex;
      justify-content: center;
      gap: 50px;

      margin: 50px 30px;

      @media (max-width: 991px) {
        flex-direction: column;
        align-items: center;

        margin-inline: 15px;
      }
    }
  }
}
