@use "variables";

.container {
  display: flex;
  flex-direction: column;

  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 100%;

  min-width: 10em;
  max-width: 50em;

  max-height: 30em;

  box-shadow: variables.$clr-toolbar 0px 7px 29px 0px;

  * {
    color: #5c5c5c;
  }

  @media (max-width: 991px) {
    width: 100%;
    min-height: 30em;
  }
}
