@use "variables";

.container {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  max-height: 20em;
  min-width: 2em;

  background-color: variables.$clr-container;
  border-radius: 1em 1em 0 0;
}
