@use "variables";

.textarea-container {
  display: flex;

  flex: 1;

  textarea {
    font-size: 16px;

    width: 100%;
    resize: none;
    outline: none;

    border: 5px solid variables.$clr-toolbar;
  }
}
