@use "variables";

.preview {
  height: 100%;
  padding: 2em;
  overflow: auto;

  border: 5px solid variables.$clr-toolbar;

  pre {
    background: white;
    overflow: auto;
  }

  img {
    max-width: 100%;
  }

  * ~ * {
    margin-top: 20px;
  }
}
